<main>

<form action="/{{trailer.tractorId}}/trailer/{{trailer._id}}?_method=PUT" method="POST">
			<input type="text" name="name" value="{{trailer.name}}">
			<input type="text" name="age" value="{{trailer.age}}"> 
			<input type="text" hidden="hidden" name="tractorId" value={{trailer.tractorId}}>
			<input type="submit" value="Submit">
		</form>

</main>